* {
    box-sizing: border-box;
}

body, 
html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}



/********** INTRO **********/
.intro {
    background-color: #29303a;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    min-height: 100%;

    padding: 3rem 2rem 2rem;
    position: relative;
}

.intro .title {
    color: #7ab702;
    font-size: 2.25rem;
    /*width: 100%;*/

    margin: 0;
    font-weight: 700;

    /*position: absolute;
    top: 2rem;*/

    text-align: center;


}

@media (min-width: 720px) {
    .intro .title {
        left: 1rem;
    }
}

.intro .title span {
    color: #fff;
}

.signup {
    
}

.signup p {
    margin: 2rem auto;
    color: #fff;
    line-height: 1.5rem;
    /*font-size: 1;*/
}
.signup p:first-child {
    /*margin-top: 0;*/
    margin-bottom: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
@media (min-width: 375px) {
    .signup p:first-child {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
}

.signup .signup-slogan {
    font-size: 1.75rem;
    line-height: 2.5rem;
}
@media (min-width: 375px) {
    .signup .signup-slogan {
        font-size: 2rem;
    }
}

.signup form {

}

.signup input {
    width: 100%;
    display: block;
    padding: 1rem .5rem;
}

.input-submit {
    background-color: #7ab702;
    color: #fff;
    border: none;
}



/********** FEATURES **********/
.features {
    padding: 1rem;
}

.features ul {
    list-style-type: none;
    padding-left: 0;
}

@media (min-width: 720px) {
    .features li {
        display: inline-block;
        width: 33.333%;
    }
}



/********** GOT YA **********/
.gotya {
    background-color: #29303a;
}