* {
    box-sizing: border-box;
}

body, 
html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}



/********** INTRO **********/
.intro {
    background-color: #29303a;

    /*display: flex;*/
    /*flex-direction: column;
    justify-content: space-between;
    align-items: center;*/

    min-height: 100%;


    /*position: relative;*/
}
/*@media (min-width: 500px) {
    .intro {
        justify-content: center;
    }
}*/

.intro-container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;

    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 3rem 2rem 2rem;
}
@media (min-width: 500px) {
    .intro-container {
        justify-content: center;
    }
}

.intro .title {
    color: #7ab702;
    font-size: 2.25rem;
    margin: 0;
    font-weight: 400;
    text-align: center;
}
@media (min-width: 375px) {
    .intro .title {
        font-size: 2.75rem;
    }
}
@media (min-width: 500px) {
    .intro .title {
        position: absolute;
        top: 3rem;
        left: 2rem;
        font-size: 1.75rem;
    }
}

.intro .title span {
    color: #fff;
}

.signup p {
    margin: 2rem auto;
    color: #fff;
    line-height: 1.5rem;
    /*font-size: 1;*/
}
@media (min-width: 500px) {
    .signup p {
        font-size: 1.25rem;
        line-height: 2rem;
    }
}
.signup p:first-child {
    /*margin-top: 0;*/
    margin-bottom: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
@media (min-width: 375px) {
    .signup p:first-child {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
}

.signup .signup-slogan {
    font-size: 1.75rem;
    line-height: 2.5rem;
}
@media (min-width: 375px) {
    .signup .signup-slogan {
        font-size: 2rem;
    }
}
@media (min-width: 500px) {
    .signup .signup-slogan {
        font-size: 2.5rem;
    }
}

.signup form {
    max-width: 580px;
}

.signup input {
    border: none;
    padding: 1rem .5rem;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.signup .input-email {
    /*border: none;*/
    /*width: 100%;*/
    /*display: inline-block;*/
    /*padding: 1rem .5rem;*/
}
@media (min-width: 500px) {
    .signup .input-email {
        width: 75%;
    }
}

.signup .input-submit, 
.signup .input-submit--dirty {
    /*display: inline-block;*/
    /*border: none;*/
    /*padding: 1rem .5rem;*/
    /*width: 100%;*/
    color: #fff;
    font-family: 'Roboto', sans-serif;
    /*vertical-align: middle;*/
}
@media (min-width: 500px) {
    .signup .input-submit, 
    .signup .input-submit--dirty {
        width: 25%;
    }
}

.signup .input-submit {
    background-color: #7ab702;
    text-transform: uppercase;
}

.signup .input-submit--dirty {
    background-color: #C40202;
}



/********** FEATURES **********/
.features {
    padding: 2rem;
}

.features p {
    font-size: 18px;
    margin: 0 auto;
}

.features ul {
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
}

.features li {
    text-align: center;
    margin: 4rem auto;
}
@media (min-width: 720px) {
    .features li {
        display: inline-block;
        width: 33.333%;
    }
}

.features-request {
    padding: 1rem 0;
}

.features-request h2 {
    margin-top: 0;
}

.features-item i {
    display: inline-block;
    /*background-color: #7ab702;*/
    background-color: #29303a;
    color: #fff;
    border-radius: 50%;
    padding: 1.5rem;
}

/*.features .features-custom-icon {
    background-color: #7ab702;
}*/

.features-request-button {
    padding: 1rem 3rem;
    background-color: #7ab702;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /*border-radius: 5px;*/
    width: 100%;
    border: 1px solid black;
    color: white;

    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.features .features-title {
    font-weight: 700;
    margin: 1rem auto .5rem;
}



/********** GOT YA **********/
.gotya {
    background-color: #29303a;
}



/********** UTILITIES **********/
.modal-overlay {
    position: fixed;
    z-index: 100;
    background-color: rgba(0,0,0,.75);
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;

    padding: 2rem;
}
.modal-content {
    padding: 2rem;
    background-color: #fff;

    position: relative;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

/*.roboto-button {
    font-family: 'Roboto', sans-serif;
}*/