* {
    box-sizing: border-box;
}

body, 
html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}



/********** INTRO **********/
.intro {
    background-color: #29303a;

    /*display: flex;*/
    /*flex-direction: column;
    justify-content: space-between;
    align-items: center;*/

    min-height: 100%;


    /*position: relative;*/
}
/*@media (min-width: 500px) {
    .intro {
        justify-content: center;
    }
}*/

.intro-container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;

    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 3rem 2rem 2rem;
}
@media (min-width: 500px) {
    .intro-container {
        justify-content: center;
    }
}

.intro .title {
    color: #7ab702;
    font-size: 2.25rem;
    margin: 0;
    font-weight: 400;
    text-align: center;
}
@media (min-width: 375px) {
    .intro .title {
        font-size: 2.75rem;
    }
}
@media (min-width: 500px) {
    .intro .title {
        position: absolute;
        top: 3rem;
        left: 2rem;
        font-size: 1.75rem;
    }
}

.intro .title span {
    color: #fff;
}

.signup p {
    margin: 2rem auto;
    color: #fff;
    line-height: 1.5rem;
    /*font-size: 1;*/
}
@media (min-width: 500px) {
    .signup p {
        font-size: 1.25rem;
        line-height: 2rem;
    }
}
.signup p:first-child {
    /*margin-top: 0;*/
    margin-bottom: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
@media (min-width: 375px) {
    .signup p:first-child {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
}

.signup .signup-slogan {
    font-size: 1.75rem;
    line-height: 2.5rem;
}
@media (min-width: 375px) {
    .signup .signup-slogan {
        font-size: 2rem;
    }
}
@media (min-width: 500px) {
    .signup .signup-slogan {
        font-size: 2.5rem;
    }
}

.signup form {
    max-width: 580px;
}

.signup input {
    border: none;
    padding: 1rem .5rem;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.signup .input-email {
    /*border: none;*/
    /*width: 100%;*/
    /*display: inline-block;*/
    /*padding: 1rem .5rem;*/
}
@media (min-width: 500px) {
    .signup .input-email {
        width: 65%;
    }
}

.signup .input-submit, 
.signup .input-submit--dirty {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
@media (min-width: 500px) {
    .signup .input-submit, 
    .signup .input-submit--dirty {
        width: 35%;
    }
}

.signup .input-submit {
    background-color: #7ab702;
    text-transform: uppercase;
}

.signup .input-submit--dirty {
    background-color: #C40202;
}



/********** FEATURES **********/
.features {
    padding: 4rem 2rem;
}

.features p {
    max-width: 350px;
}

.features-list {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.features-item p, 
.features-item--userSubmitted p {
    font-size: 18px;
    margin: 0 auto;
    line-height: 25px;
}

.features-item, 
.features-item--userSubmitted {
    text-align: center;
    padding: 0 0 4rem;
    vertical-align: top;
}
@media (min-width: 720px) {
    .features-item, 
    .features-item--userSubmitted {
        display: inline-block;
        padding: 0 2rem 4rem;
        width: 33.333%;
    }
}

.features-request {
    padding-top: 4rem;
    text-align: center;
}

.features-request h2 {
    margin-top: 0;
}

.features-request p {
    /*margin-bottom: 2rem;*/
    margin: 0 auto 2rem;
    line-height: 20px;
    /*display: inline-block;*/
}

.features-item i, 
.features-item--userSubmitted i {
    display: inline-block;
    /*background-color: #7ab702;*/
    background-color: #29303a;
    color: #fff;
    border-radius: 50%;
    padding: 1.5rem;
}

.features-item--userSubmitted {
    opacity: .5;
}

.features-request-button {
    padding: 1rem 3rem;
    background-color: #7ab702;
    /*margin-top: 2rem;*/
    width: 100%;
    max-width: 250px;

    border: 1px solid black;
    border-radius: 2px;

    color: white;

    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.features-request-form {
    margin-bottom: 0;
}

.features-request-form fieldset {
    border-radius: 5px;
    padding: 0;
    position: relative;
    margin-bottom: 1rem;
    border-radius: 2px;
}

.features-request-form legend {
    position: absolute;
    top: -10px;
    left: 10px;
    padding: 0 8px;
    /*display: inline-block;*/
    background-color: #fff;
}

.features-request-form textarea, 
.features-request-form label {
    display: block;
}

.features-request-form textarea {
    width: 100%;
    margin: 0;
    height: 150px;
    border: none;
    padding: 1rem;
}
.features-request-form textarea:focus {
    outline: none; /*or outline-color:#FFFFFF; if the first doesn't work*/
    border:1px solid navy;
    -webkit-box-shadow: 0px 0px 4px 0px navy;
    box-shadow: 0px 0px 4px 0px navy;
}

.features-request-form label {
    padding: .25rem 1rem;
    background-color: lightgray;
}

.features-request-form input[type="submit"] {
    padding: 1rem 3rem;
    background-color: #7ab702;
    /*margin-top: 2rem;*/
    width: 100%;
    /*max-width: 250px;*/

    border: 1px solid black;
    border-radius: 2px;

    color: white;

    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

/*TODO: Rename*/
.features .features-title {
    font-weight: 700;
    margin: 1rem auto .5rem;
}



/********** FOOTER **********/
.footer {
    text-align: center;
}

.footer .social-list {
    list-style-type: none;
    padding-left: 0;
    color: #fff;
    margin: 0;
}
@media (min-width: 720px) {
    .footer .social-list {
        text-align: right;
    }
}

.footer .social-list li {
    background-color: #29303a;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media (min-width: 720px) {
    .footer .social-list li {
        display: inline-block;
    }
}

.footer .social-list i {
    padding-right: 10px;
    vertical-align: middle;
}

.footer .social-list a {
    text-decoration: none;
    color: #fff;
}

.footer .social-list li:nth-child(1) {
    padding-left: 1rem;
    padding-right: 1rem;

    border-bottom: thin dotted #fff;
}
@media (min-width: 720px) {
    .footer .social-list li:nth-child(1) {
        margin-right: 1rem;
        
        border: none;
    }
}

.footer .social-list li:nth-child(2) {
    border-bottom: thin dotted #fff;
}
@media (min-width: 720px) {
    .footer .social-list li:nth-child(2) {
        width: 25%;
        text-align: right;
        padding-left: 1rem;
        padding-right: 2rem;

        border: none;
    }
}
@media (min-width: 720px) and (max-width: 870px) {
    .footer .social-list li:nth-child(2) span {
        display: none;
    }
}

@media (min-width: 720px) {
    .footer .social-list li:nth-child(3) {
        width: 50%;
        text-align: left;
        padding-left: 2rem;
    }
}
@media (min-width: 720px) and (max-width: 870px) {
    .footer .social-list li:nth-child(3) span {
        display: none;
    }
}

.footer .copyright-paragraphs {
    /*padding-left: 2rem;*/
    /*padding-right: 2rem;*/
    padding: 1rem 2rem;
}

.footer .copyright-paragraphs p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 14px;
    line-height: 20px;
}
@media (min-width: 720px) {
    .footer .copyright-paragraphs p {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
}


/********** UTILITIES **********/
.modal-overlay {
    position: fixed;
    z-index: 100;
    background-color: rgba(0,0,0,.75);
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;

    /*padding: 2rem;*/
}
.modal-content {
    border-radius: 2px;
    padding: 2rem;
    background-color: #fff;
    width: 90%;
    position: relative;
    max-width: 720px;
}
@media (min-width: 720px) {
    .modal-content {
        padding: 3rem;
    }
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem;
}
@media(min-width: 720px) {
    .modal-close {
        top: 5px;
        right: 5px;
        font-size: 24px;
    }
}

/*.roboto-button {
    font-family: 'Roboto', sans-serif;
}*/